{{#>layout }}
        <div class="mx-24 w-full">
            
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <p>
                asdasdasdsad
            asdasdasd

            </p>
        </div>
    </main>

{{/layout}}